<?xml version="1.0" encoding="UTF-8"?>
<zvirt_box_ui>
  <log_file>${server.home}/log/zvirt.box.ui.log</log_file>
  <web>
    <bind>0.0.0.0:9081</bind>
  </web>
  <api>
    <url>https://v001.ganshane.com/ovirt-engine/api</url>
     <jks>${server.home}/config/.truststore</jks>
    <jks_password>mypass</jks_password>
  </api>
</zvirt_box_ui>
